:root {
  --glass-white-1: var(--wave-color-opacity-contrast-fill-thin);
  --glass-white-1-hover: var(--wave-color-opacity-contrast-fill-regular);
  --glass-white-2: var(--wave-color-opacity-contrast-fill-thick);
  --glass-white-2-hover: var(--wave-color-opacity-contrast-fill-ultra-thick);
  --glass-white-3: var(--wave-color-opacity-contrast-fill-thick);
  --glass-white-4: var(--wave-color-opacity-contrast-fill-ultra-thin);
  --glass-white-5: var(--wave-color-opacity-contrast-fill-ultra-thin);
  --glass-white-6: var(--wave-color-opacity-contrast-fill-thin);
  --snow-white: var(--wave-color-solid-contrast-fill);
  --snow-white-hover: var(--wave-color-opacity-contrast-fill-ultra-thick);
  --gray-4: var(--wave-color-solid-contrast-darkest);
  --gray-5: var(--wave-color-solid-base-brightest);
  --gray-6: var(--wave-color-solid-base-brighter);
  --gray-7: var(--wave-color-solid-base-bright);
  --cyan-blue: var(--wave-color-solid-accent-fill);
  --cyan-blue-hover: var(--wave-color-solid-accent-dark);
  --glass-cyan-1: var(--wave-color-opacity-accent-ultra-thin);
  --glass-cyan-2: var(--wave-color-opacity-accent-thin);
  --glass-cyan-3: var(--wave-color-opacity-accent-regular);
  --master-gold: var(--wave-color-solid-special-fill);
  --master-gold-hover: var(--wave-color-opacity-special-fill-ultra-thick);
  --glass-master-gold: var(--wave-color-opacity-special-fill-thin);
  --glass-master-gold-2: var(--wave-color-opacity-special-regular);
  --raspberry-pink: var(--wave-color-solid-warning-fill);
  --raspberry-pink-lighter: var(--wave-color-solid-warning-bright);
  --black: var(--wave-color-solid-base-fill);
  --midnight-black: var(--wave-color-solid-base-fill);
  --controls-overlay: var(--wave-color-opacity-base-thick);
  --duration-overlay: var(--wave-color-opacity-base-regular);
  --background-dark: var(--wave-color-solid-base-fill);
  --hoverLighten: brightness(130%);
  --hoverDarken: brightness(70%);
  --hoverTransition: filter 0.15s ease;
  --scrollbar-track: var(--wave-color-solid-base-brighter);
  --scrollbar-thumb: var(--wave-color-solid-contrast-darkest);
  --lighten-25: var(--wave-color-solid-contrast-darker);
  --red-alert: var(--wave-color-solid-warning-fill);
  --user-profile-linear-gradient: linear-gradient(
    160deg,
    {{ colors.primary.default.hex }} 1.22%,
    {{ colors.secondary.default.hex }} 40.51%,
    {{ colors.surface.default.hex }} 79.07%
  );
  --wave-border-radius--none: 0px;
  --wave-border-radius--extra-small: 4px;
  --wave-border-radius--small: 8px;
  --wave-border-radius--regular: 12px;
  --wave-border-radius--full: 1000px;
  --wave-color-material-dark: {{ colors.surface_dim.dark.hex }}80;
  --wave-color-material-light: {{ colors.on_surface_variant.default.hex }}33;
  --wave-color-opacity-accent-dark-ultra-thick: {{ colors.secondary.default.hex }}cc;
  --wave-color-opacity-accent-darkest-ultra-thick: {{ colors.secondary.dark.hex }};
  --wave-color-opacity-accent-fill-regular: {{ colors.secondary.default.hex }}66;
  --wave-color-opacity-accent-fill-thin: {{ colors.secondary.default.hex }}33;
  --wave-color-opacity-accent-fill-ultra-thick: {{ colors.secondary.default.hex }}cc;
  --wave-color-opacity-accent-fill-ultra-thin: {{ colors.secondary.default.hex }}1a;
  --wave-color-opacity-base-bright-thick: {{ colors.surface_dim.default.hex }}99;
  --wave-color-opacity-base-bright-thin: {{ colors.surface_dim.default.hex }}33;
  --wave-color-opacity-base-bright-transparent: {{ colors.surface_dim.default.hex }};
  --wave-color-opacity-base-bright-ultra-thick: {{ colors.surface_dim.default.hex }}cc;
  --wave-color-opacity-base-brighter-ultra-thick: {{ colors.surface.default.hex }}cc;
  --wave-color-opacity-base-brightest-regular: {{ colors.surface_bright.default.hex }}66;
  --wave-color-opacity-base-brightest-thin: {{ colors.surface_bright.default.hex }}33;
  --wave-color-opacity-base-brightest-ultra-thin: {{ colors.surface_bright.default.hex }}1a;
  --wave-color-opacity-base-fill-regular: {{ colors.surface_container_lowest.default.hex }}66;
  --wave-color-opacity-base-fill-thick: {{ colors.surface_container_lowest.default.hex }}99;
  --wave-color-opacity-base-fill-thin: {{ colors.surface_container_lowest.default.hex }}33;
  --wave-color-opacity-base-fill-transparent: #000;
  --wave-color-opacity-base-fill-ultra-thick: {{ colors.surface_container_lowest.default.hex }}cc;
  --wave-color-opacity-base-fill-ultra-thin: {{ colors.surface_container_lowest.default.hex }}1a;
  --wave-color-opacity-contrast-fill-regular: {{ colors.on_surface.default.hex }}66;
  --wave-color-opacity-contrast-fill-thick: {{ colors.on_surface.default.hex }}99;
  --wave-color-opacity-contrast-fill-thin: {{ colors.on_surface.default.hex }}33;
  --wave-color-opacity-contrast-fill-transparent: #fff;
  --wave-color-opacity-contrast-fill-ultra-thick: {{ colors.on_surface.default.hex }}cc;
  --wave-color-opacity-contrast-fill-ultra-thin: {{ colors.on_surface.default.hex }}1a;
  --wave-color-opacity-rainbow-blue-thin: {{ colors.primary.default.hex }}33;
  --wave-color-opacity-rainbow-yellow-fill-regular: {{ colors.tertiary.default.hex }}66;
  --wave-color-opacity-rainbow-yellow-fill-thin: {{ colors.tertiary.default.hex }}33;
  --wave-color-opacity-rainbow-yellow-fill-ultra-thick: {{ colors.tertiary.default.hex }}cc;
  --wave-color-opacity-rainbow-yellow-fill-ultra-thin: {{ colors.tertiary.default.hex }}1a;
  --wave-color-opacity-special-fill-regular: {{ colors.tertiary_container.default.hex }}66;
  --wave-color-opacity-special-fill-thin: {{ colors.tertiary_container.default.hex }}33;
  --wave-color-opacity-special-fill-ultra-thick: {{ colors.tertiary_container.default.hex }}cc;
  --wave-color-opacity-special-fill-ultra-thin: {{ colors.tertiary_container.default.hex }}1a;
  --wave-color-services-facebook: #1877f2;
  --wave-color-services-instagram-red: #e1306c;
  --wave-color-services-mtn: {{ colors.tertiary.default.hex }};
  --wave-color-services-musix-orange: #f63;
  --wave-color-services-musix-pink: #ff0e83;
  --wave-color-services-play: #47237b;
  --wave-color-services-plus: #088655;
  --wave-color-services-snapchat: #fffc00;
  --wave-color-services-sprint: #ffdd05;
  --wave-color-services-t-mobile: #e30074;
  --wave-color-services-tik-tok-blue: #69c9d0;
  --wave-color-services-tik-tok-red: #ee1d52;
  --wave-color-services-twitter: #1da1f2;
  --wave-color-services-viacom-1: #00f;
  --wave-color-services-viacom-2: #7666aa;
  --wave-color-services-viacom-3: #d700c2;
  --wave-color-services-viacom-4: #ff4851;
  --wave-color-services-viacom-5: {{ colors.tertiary.default.hex }};
  --wave-color-services-vivo: {{ colors.tertiary.default.hex }};
  --wave-color-services-vodafone: #e61107;
  --wave-color-services-waze: #1da1f2;
  --wave-color-solid-accent-bright: {{ colors.primary.default.hex }};
  --wave-color-solid-accent-brighter: {{ colors.primary.default.hex }};
  --wave-color-solid-accent-dark: {{ colors.primary.dark.hex }};
  --wave-color-solid-accent-darker: {{ colors.primary_container.dark.hex }};
  --wave-color-solid-accent-darkest: {{ colors.primary_container.dark.hex }};
  --wave-color-solid-accent-fill: {{ colors.primary.default.hex }};
  --wave-color-solid-base-bright: {{ colors.surface_dim.default.hex }};
  --wave-color-solid-base-brighter: {{ colors.surface.default.hex }};
  --wave-color-solid-base-brightest: {{ colors.surface_bright.default.hex }};
  --wave-color-solid-base-fill: {{ colors.surface_container_lowest.default.hex }};
  --wave-color-solid-contrast-dark: {{ colors.on_surface.default.hex }};
  --wave-color-solid-contrast-darker: {{ colors.on_surface_variant.default.hex }};
  --wave-color-solid-contrast-darkest: {{ colors.outline.default.hex }};
  --wave-color-solid-contrast-fill: {{ colors.on_surface.default.hex }};
  --wave-color-solid-rainbow-blue-fill: {{ colors.primary.default.hex }};
  --wave-color-solid-rainbow-green-brighter: {{ colors.primary.default.hex }};
  --wave-color-solid-rainbow-green-dark: {{ colors.secondary.dark.hex }};
  --wave-color-solid-rainbow-green-darker: {{ colors.secondary.default.hex }};
  --wave-color-solid-rainbow-green-darkest: {{ colors.secondary_container.dark.hex }};
  --wave-color-solid-rainbow-green-fill: {{ colors.primary.default.hex }};
  --wave-color-solid-rainbow-orange-fill: {{ colors.tertiary.default.hex }};
  --wave-color-solid-rainbow-purple-fill: {{ colors.tertiary.default.hex }};
  --wave-color-solid-rainbow-red-bright: {{ colors.error.default.hex }};
  --wave-color-solid-rainbow-red-brighter: {{ colors.error.default.hex }};
  --wave-color-solid-rainbow-red-dark: {{ colors.error.dark.hex }};
  --wave-color-solid-rainbow-red-darker: {{ colors.error_container.dark.hex }};
  --wave-color-solid-rainbow-red-darkest: {{ colors.error_container.dark.hex }};
  --wave-color-solid-rainbow-red-fill: {{ colors.error.default.hex }};
  --wave-color-solid-rainbow-yellow-bright: {{ colors.tertiary.default.hex }};
  --wave-color-solid-rainbow-yellow-brighter: {{ colors.tertiary.light.hex }};
  --wave-color-solid-rainbow-yellow-dark: {{ colors.tertiary.dark.hex }};
  --wave-color-solid-rainbow-yellow-darker: {{ colors.tertiary_container.dark.hex }};
  --wave-color-solid-rainbow-yellow-darkest: {{ colors.tertiary_container.dark.hex }};
  --wave-color-solid-rainbow-yellow-fill: {{ colors.tertiary.default.hex }};
  --wave-color-solid-special-bright: {{ colors.tertiary_container.default.hex }};
  --wave-color-solid-special-brighter: {{ colors.tertiary_container.light.hex }};
  --wave-color-solid-special-dark: {{ colors.tertiary.dark.hex }};
  --wave-color-solid-special-darker: {{ colors.tertiary.dark.hex }};
  --wave-color-solid-special-darkest: {{ colors.tertiary_container.dark.hex }};
  --wave-color-solid-special-fill: {{ colors.tertiary_container.default.hex }};
  --wave-color-solid-warning-bright: {{ colors.error.default.hex }};
  --wave-color-solid-warning-brighter: {{ colors.error_container.default.hex }};
  --wave-color-solid-warning-dark: {{ colors.error.dark.hex }};
  --wave-color-solid-warning-darker: {{ colors.error_container.dark.hex }};
  --wave-color-solid-warning-darkest: {{ colors.error_container.dark.hex }};
  --wave-color-solid-warning-fill: {{ colors.error.dark.hex }};
  --wave-color-text-disabled: var(--wave-color-solid-base-brightest);
  --wave-color-text-link: var(--wave-color-solid-accent-fill);
  --wave-color-text-main: var(--wave-color-solid-contrast-fill);
  --wave-color-text-placeholder: var(--wave-color-solid-base-brightest);
  --wave-color-text-secondary: var(--wave-color-solid-contrast-darker);
  --wave-color-text-tertiary: var(--wave-color-solid-contrast-darkest);
  --wave-font-weight--bold: 700;
  --wave-font-weight--demi: 600;
  --wave-font-weight--medium: 500;
  --wave-opacity--ultra-thin: 0.05;
  --wave-opacity--thin: 0.1;
  --wave-opacity--regular: 0.4;
  --wave-opacity--thick: 0.6;
  --wave-opacity--ultra-thick: 0.8;
  --wave-spacing--extra-extra-large: 64px;
  --wave-spacing--extra-large: 40px;
  --wave-spacing--large: 24px;
  --wave-spacing--medium: 20px;
  --wave-spacing--regular: 16px;
  --wave-spacing--small: 12px;
  --wave-spacing--extra-small: 8px;
  --wave-spacing--extra-extra-small: 4px;
}

.wave-text-caption-demi,
.tidal-ui__v-stack {
  color: var(--wave-color-solid-accent-bright) !important;
}

.tidal-ui__icon {
  fill: var(--wave-color-solid-rainbow-purple-fill) !important;
  stroke: var(--wave-color-solid-rainbow-purple-fill) !important;
}
